body {
    font-family: helvetica, sans-serif;
    color: purple;
    background-color: blanchedalmond;
}

.intro {
    font-family: helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 0px 100px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

img {
    height: 150px;
    width: auto;
}

div,
p {
    white-space: pre;
}

.scores{
    text-align: center;
    align-items: center;
    line-height: 2.5em;
}

.endgame {
    display: flex;
    justify-content: center;
}

.endgame button {
    padding: 8px 16px;
    margin: 32px;
}